.md-nav__item--section>.md-nav__link {
    font-weight: 900;
    pointer-events: none;
    font-size:18px !important;
}
.md-nav__list>.md-nav__item--active>.md-nav__link:not(.md-nav__link--index) {
    pointer-events: none;
    font-size: 22px;
    font-weight: 900;
}
.md-nav__item>.md-nav__link--active{
    font-size: .7rem !important;
}